# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work
*.sum

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific files
.DS_Store
Thumbs.db

# Example binaries
examples/transcription-agent/transcription-agent

# Temporary files
*.tmp
*.temp

# Environment variable files
.env
/server-sdk-go/
/venv/
/.venv/
/node_modules/
/livekit/
/go-astits/

/gohlslib/
/mediacommon/

# Temporary example files
/save-to-webm.go
/play-from-disk.go
/examples/participant-hls-recorder/test-recordings/
/gohlslib/
/go-astits/
/livekit/
/egress/
/agents/
/debug-hls-output/
/examples/save-to-hls-gstreamer/hls-gst-output/
/livekit/
/examples/publisher-hls-agent/output/
/examples/publisher-hls-agent/hls-agent-recordings/
/examples/publisher-hls-agent/hls-agent-recordings-local-output/
/examples/publisher-hls-agent/hls-agent-recordings-s3-upload/
